
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
}

 .navbar {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #343a40;
  color: #f8f9fa;
} */

 .navbar-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  padding-right: 20px;
}

.nav-link {
  color: #f8f9fa;
  margin-right: 20px;
  padding-right: 20px;
  font-size: 18px;
} */

 .nav-link:hover {
  color: #007bff;
}



img {
  width: 150px;
  height: 200px;
  border-radius: 50px;
  object-fit: cover;
  border: 5px;
  border-color: gray;
}

 .project-container {
  width: 100%;
  background-color: #343a40;
}

.proNames {
  text-decoration: underline;
}

.projectPics {
  justify-content: flex-end;
  height: 100px;
  width: 130px;
  display: inline-block;
  object-fit: fill;
  float: right;
  margin-left: auto;

}

#footer {
  background-color: #343a40;
  font-family: "Acme", sans-serif;
  font-size: 20px;
  color: rgb(36, 71, 174);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.about-jessy {
  margin-top: 80px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #0D47A1;
  color: #FFFFFF;
}

.about-jessy h2 {
  color: #FFFFFF;
}

.about-jessy p {
  color: #FFFFFF;
}

.family {
  margin-top: 40px;
  text-align: center;
  background-color: #FFFFFF;
  color: #0D47A1;
  padding: 40px;
  background-color: #343a40;
}
#projects{
  width: 100%;
  color: #FFFFFF;
  background-color: #343a40;
}


.family h2 {
  color: #FFFFFF;
}

.family p {
  color: #FFFFFF;
}

.family img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.about-jessy img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.row.about-jessy {
  flex-direction: column;
}
.sides-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 200px;
}

.sides-content {
  margin: auto;
}
.binary{
  margin-top: 100px;
  text-align: center;
  background-color: #343a40;
  color: #FFFFFF;
}


@media only screen and (min-width: 768px) {
  .about-jessy .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
