@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #343a40 !important;
  color: #f8f9fa !important;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #f8f9fa !important;
}

.navbar-brand {
  padding-left: 5%;
  font-size: 30px !important;
  font-family: "Space Mono", monospace;
  color: greenyellow !important;
}

.nav-link {
  color: #ffffff !important;
  margin-right: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.nav-link:hover {
  color: #007bff !important;
}

img {
  width: 150px;
  height: 200px;
  border-radius: 50px;
  object-fit: cover;
  border: 5px;
  border-color: gray;
}

.project-container {
  width: 100%;
  background-color: #343a40;
}

.proNames {
  text-decoration: underline;
}

.projectPics {
  justify-content: flex-end;
  height: 100px;
  width: 130px;
  display: inline-block;
  object-fit: fill;
  float: right;
  margin-left: auto;
}
.Ptitles{
  color: greenyellow
}
#aboutMe{
  background-color: #343a40;;
}

#footer {
  background-color: #343a40;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  color: greenyellow !important;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  margin: 0 10px;
}



.about-jessy {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(2, 21, 2);
  color: #ffffff;
}

.about-jessy h2 {
  color: #ffffff;
}

.about-jessy p {
  color: #ffffff;

}
.Certificates {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
}

.family {
  padding-top: 80px;
  text-align: center;
  padding: 40px;
  background-color: #343a40;
  color: #ffffff;
  margin-left: 6%;
  margin-right:1%;
}
#projects {
  width: 100%;
  color: #ffffff;
  background-color: #343a40;
}

.family h2 {
  color: #ffffff;
}

.family p {
  color: #ffffff;
}

.family img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.about-jessy img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.row.about-jessy {
  flex-direction: column;
}

.binary {
  text-align: center;
  background-color: #343a40;
  color: greenyellow;
  max-height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: hidden;
}

.logos {
  padding-top: 20px;
  text-align: center;
  background-color: #343a40;
  color: #ffffff;
}

#html:hover::before {
  content: "HTML";
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff !important;
  padding: 5px !important;
  border: 1px solid #000 !important;
}

@media only screen and (max-width: 768px) {
  .about-jessy .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .binary {
  max-height: 40vh !important;
  }
  .navbar-brand {
    font-size: 20px!important;
  }
  .navbar-nav {
    padding-left: 30px !important;
  }
}
